<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siemens.mapper.websiteMapper">
	<resultMap type="com.siemens.entity.Website" id="resultWebMap">
		<result property="w_id" column="id"/>
		<result property="w_name" column="name"/>
		<result property="w_url" column="url"/>
		<result property="w_alexa" column="alexa"/>
		<result property="w_country" column="country"/>
	
	</resultMap>
	
	<select id="findWebList" resultMap="resultWebMap">
		select * from websites
	</select>
	  
	<select id="findMap2" resultType="java.util.Map">
		select * from websites
	</select>
	
	<select id="findById" resultType="java.util.Map" parameterType="int">
		select * from websites where id = #{w_id}
	
	</select>
</mapper>
